/* FUENTES */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

/* RESET Y ESTILOS BASICOS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ESTILOS PARA LOS ELEMENTOS DEL FORMULARIO */

.form-ui-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 30px auto;
  width: 600px;
  height: 500px;
  gap: 30px;
  font-family: "Ubuntu";
  font-size: 16px;
  font-weight: 500;
  border: 3px solid #9900ff;
  border-radius: 20px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
}

button {
  display: flex;
  padding: 5px;
  border-radius: 10px;
  background-color: #9900ff;
  color: white;
  align-content: center;
  justify-content: center;
  margin: 10px auto;
  cursor: pointer;
  width: 80%;
}

/* ESTILOS PARA LOS ELEMENTOS DEL PROGRESS BAR */
.progress-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.circular-progress-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.circular-progress-bar {
  position: relative;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: conic-gradient(from 0deg, #9900ff 0% 32%, #cfcfcf 32% 100%);
  margin: 20px auto;
}

.circular-progress-bar::before {
  content: "";
  position: absolute;
  inset: 10px;
  border-radius: 50%;
  background: rgb(236, 236, 236);
}

.progress-text {
  position: absolute;
  font-size: 20px;
  font-weight: 600;
  color: rgb(20, 20, 20);
}

li {
  list-style: none;
}

ul :first-child p {
  text-decoration: line-through;
  color: #975bbe;
}
ul :nth-child(2) p {
  text-decoration: line-through;
  color: #975bbe;
}

ul {
  border-radius: 10px;
  background-color: gainsboro;
  padding: 15px;
}
